{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
</head>

<body>
{% block content %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<div class="container py-5">
  
  <form class="box" method="post">
    <h2>Log in</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
    <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
  </form>
</div>
{% endblock %}
</body>
</html>
